
MC-authNET/.vs/MC-authNET/v17/.suo

MC-authNET/bin/Debug/net5.0/MC-authNET.dll

MC-authNET/bin/Debug/net5.0/MC-authNET.pdb

MC-authNET/obj/Debug/net5.0/MC-authNET.dll

MC-authNET/obj/Debug/net5.0/MC-authNET.pdb
